
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: calc(var(--vh, 1vh) * 100); /* fallback to 100vh */
}


html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f1f7ff 0%, #bad3fb 100%);
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}

.container{
    margin: 5px;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.3);
    overflow: hidden;
    width: 450px;
    max-width: 100%;
}

.header {
  background-color: rgb(254, 248, 242);
  padding: 20px 40px;
  box-shadow: 0px 2px 3px rgb(215, 215, 215);
}

.header h2 {
  margin-left: 10px;
}

.form{
  padding: 20px;
}

.form-control {
  margin-left: 30px;
}

.form-control label{
  display: inline-block;
  margin-bottom: 6px;
}

.form-control input{
  font-size: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  width: 70%;
  position: relative;
}

.form-control img{
  position: relative;
  height: 15px;

}

.space{
  margin-bottom: 15px;
}

button {
  width: 100%;
  background-color: #036cb8;
  padding: 8px ;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 95%;
    margin: 10px auto;
  }

  .form-control input {
    width: 90%;  /* better for small screens */
  }

  .form-control {
    margin-left: 10px;
    margin-right: 10px;
  }

  button {
    padding: 10px;
  }
}

